// /* ******* TEMPLATE BUNDLE STYLES ******* */

#tpl (){

}

// /* ******* COMMON BUNDLE STYLING ******* */

#cm (){

    // /* *** STATIC CLASSES *** */

    .font-link {
        text-decoration: none;
        cursor: pointer;
        .cm-transition(color @cm-transitionDuration ease-in-out);

        &:hover {
            text-decoration: underline;
            .cm-transition(color @cm-transitionDurationReverse ease-in-out);
        }
    }

    // /* *** PARTS *** */

    .hr {
        border-top: 2px solid @Tpl-colorLightGray;
    }

    .menu {
        min-width: 100px;
        background: @Tpl-colorLightGray;
        box-shadow: none;
    }
}