
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500,100&subset=latin,cyrillic);

/* ************************************************ */
/* ******* COMMON ******* */
/* ************************************************ */

/* ******* COMMON ******* */

/* *** ICONS *** */

.icon {
    &.small {
        .for(search); .-each(@name) {
            &.@{name} {
                background-image: url("@{TplPath-Images}/icons/small/@{name}.png");
            }
        }
    }
}

/* ******* COMPONENTS ******* */

/* *** SLIDER *** */

.com__slider {
    &.theme-template {
    }
}

/* ************************************************ */
/* ******* APPLICATION ******* */
/* ************************************************ */

/* ******* MODUES ******* */

/* *** MENU *** */

.app-mod__menu {
    &.primary {
        > ul {
            > li {
                margin: 0 @CmIndent-Medium 0 0;

                &:last-child {
                    margin: 0;
                }

                > a {
                    height: 20px;
                    padding: 0 0 8px 0;
                    line-height: 20px;
                    font-weight: @CmFont-Base-BoldWeight;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: @CmColor-Primary-DarkDefault;
                        text-decoration: none;
                    }
                }

                &.active {
                    > a {
                    }
                }
            }
        }
    }

    &.secondary {
        > ul {
            > li {
                margin: 0 0 0 @CmIndent-Medium;

                &:before {
                    width: 1px;
                    height: 100%;
                    display: block;
                    position: absolute;
                    background: @CmColor-Border;
                    content: '';
                    .mx__position(0, auto, 0, -(@CmIndent-Medium / 2));
                }

                &:first-child {
                    margin: 0;
                    border-left: 0;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    &.vertical {
         ul {
             li {
                 border-top: 1px dotted #999999;
                 margin-top: 0;

                 &:last-child {
                     border-bottom: 1px dotted #999999;
                 }

                 a {
                     padding: 4px 12px 4px 26px;
                     background: url('@{TplPath-Images}/arrow-r.png') 0 center no-repeat;
                     text-transform: none;
                     text-decoration: none;
                     font-weight: @CmFont-Base-BoldWeight;
                     .mx__transition(all, @CmUI-Transition-Duration);
                 }

                 &.active > a,
                 a:hover {
                     background-image: url('@{TplPath-Images}/arrow-r-a.png');
                     color: @CmColor-Primary-DarkDefault;
                     .mx__transition(all, @CmUI-Transition-DurationReverse);
                 }
             }

             ul {
                 margin-top: 0;

                 li {
                     &:last-child {
                         border-bottom: none;
                     }
                 }
             }
        }

        &.pull-right {
            ul {
                li {
                    a {
                        padding: 4px 26px 4px 12px;
                        background: url('@{TplPath-Images}/arrow-r.png') 100% center no-repeat;
                    }
                }
            }
        }
    }
}

/* ************************************************ */
/* ******* TEMPLATE ******* */
/* ************************************************ */

/* ******* HEADER ******* */

.tpl__header {
	z-index: 3;
    border-bottom: 1px solid @TplColor-Separator;

    .app-pt__widget-container {
        margin: 0;
    }
}

.tpl__header__inner {
    .clearfix;
    min-height: 100px;
}

.header-top {
    .clearfix;
    height: 40px;
    position: absolute;
    .mx__position(16px, 0, auto, 240px);

    .app__area-header {
        margin-left: @CmIndent-Medium;
    }
}

.header-center {
    .clearfix;
    width: 250px;
    min-height: @CmForm-FieldHeight;
    padding: 64px 0 0 0;
    float: right;
}

.header-logo {
    width: 204px;
    min-height: 56px;
    position: relative;
    padding: 50px 0 0 0;
    float: left;
}

.header-bottom {
    .clearfix;
    min-height: 34px;
    position: relative;
    margin: 0 274px 0 240px;
    padding-top: 68px;
}

/* *** AREAS *** */

.app__area-header {
    &.links {
        min-width: 0;
        height: 32px;
        min-height: 32px;
        position: relative;
        float: right;
        .mx__position(auto, auto, auto, auto);
    }

    &.icons {
        min-width: 0;
        height: 32px;
        min-height: 32px;
        position: relative;
        float: right;
        .mx__position(auto, auto, auto, auto);
    }

    &.search {
        min-height: 43px;
        position: relative;
        .mx__position(auto, auto, auto, auto);
    }

    &.logo {
        min-height: 56px;
        position: relative;
        .mx__position(auto, auto, auto, auto);
    }

    &.center {
        height: 90px;
        position: relative;
        .mx__position(auto, auto, auto, auto);
    }

    &.menu {
        min-height: 34px;
        position: relative;
        .mx__position(auto, auto, auto, auto);
    }
}

// Add sidebar states

html {
    &.is-sidebar--expanded {
        .app__area-header {
            &.links {
                min-width: @CmSize-XXLarge;
            }

            &.icons {
                min-width: @CmSize-XXLarge;
            }
        }
    }
}

/* ******* CONTENT ******* */

.tpl__content {
    z-index: 1;
}

.tpl__content__inner {
    padding-top: @CmIndent-Small;
    padding-bottom: @CmIndent-Large;
}

.app__area-main {
    min-height: 150px;
}

/* ******* FOOTER ******* */

.tpl__footer {
    z-index: 2;
    position: absolute;
    padding: 0;
    border-top: 1px solid @TplColor-Separator;
    .mx__position(auto, 0, 0, 0);
}

.tpl__footer__inner {
    .display-flex;
    .mx__flex-direction(row-reverse);
}

.footer-top {
    padding: @AppTpl-Block-Padding;

    .tpl__footer__inner {
        padding-top: 95px;
        padding-bottom: 90px;
    }
}

.footer-bottom {
    min-height: 40px;
    padding: @AppTpl-Block-Padding;
    background-color: #1f2325;
}

.footer-right {
    width: 370px;
    margin-left: @CmIndent-Large;
    .mx__flex(0 0 auto);

    .ie9 & {
        float: right;
    }
}

.footer-left {
    .mx__flex(0 1 100%);

    .ie9 & {
        overflow: hidden;
    }
}

/* *** AREAS *** */

.app__area-footer {
    &.copyright {
        position: relative;
        .mx__position(auto, auto, auto, auto);
    }

    &.powered {
        position: relative;
        .mx__position(auto, auto, auto, auto);
    }

    &.sitemap {
        position: relative;
        .mx__position(auto, auto, auto, auto);
    }

    &.main {
        position: relative;
        .mx__position(auto, auto, auto, auto);
    }
}


/* ******* ADAPTIVE ******* */

@media only screen and (max-width : 1180px) {

    html.is-adaptive {
        .header-bottom {
            clear: both;
            margin: 0;
            padding: @CmIndent-Medium 0 0 0;
        }
    }

}

@media only screen and (max-width : @CmScreen-TabletPortrait) {

    html.is-adaptive {
        .app-mod__logo {
            .pt__image > .inner > .descr {
                margin: 0 auto;
            }
        }

        .app-mod__menu {
            &.theme-footer {
                padding: 0;
            }
        }

        .header-top,
        .header-logo,
        .header-center,
        .header-bottom {
            width: auto;
            position: relative;
            float: none;
            padding: @CmIndent-Medium 0 0 0;
            .mx__position(auto, auto, auto, auto);
        }


    }

}

@media only screen and (max-width : @CmScreen-Mobile) {

    html.is-adaptive {
    }

}

/* *******  PRINT ******* */

@media print {



}