// /* ******* PATH ******* */

@CmPath-Images: "../libs/common/img";
@AppPath-Images: '../libs/application/img';
@TplPath-Images: '../img';

// /* ******* VARIABLES ******* */

@Tpl-color: hsl(205, 98, 29%);
@Tpl-colorFont: #666666;
@Tpl-colorFontDark: #333333;
@Tpl-colorLink: @Tpl-colorFont;

@Tpl-lineHeight: 20px;
@Cm-fontSize: 14px;
@Tpl-fontFamily: 'Open Sans', sans-serif;
@tpl-boldWeight: 600;

@Tpl-lineHeightFooter: 18px;
@Tpl-fontSizeFooter: 11px;

@Tpl-indentOutside: @Cm-indentMedium;

// /* ******* COMMON ******* */

/* *** COLORS *** */

@Cm-colorFont: @Tpl-colorFont;
@Cm-colorLink: @Tpl-colorLink;

/* *** FONTS *** */

@Cm-lineHeight: @Tpl-lineHeight;
@Cm-fontFamily: @Tpl-fontFamily;
@Cm-boldWeight: @tpl-boldWeight;

/* *** FORMS *** */

@CmForm-fieldHeight: 28px;
