// /* ******* PATH ******* */

@CmPath-Images: "../libs/common/img";
@AppPath-Images: '../libs/application/img';
@TplPath-Images: '../img';

// /* ******* VARIABLES ******* */

@Tpl-Color: hsl(205, 98, 29%);
@Tpl-Color-FontDark: #333333;

@Tpl-Footer-LineHeight: 18px;
@Tpl-Footer-FontSize: 11px;

@Tpl-IndentOutside: @CmIndent-Medium;

// /* ******* COMMON ******* */

/* *** COLORS *** */

@CmColor-Font: #666666;
@CmColor-Font-Link: @CmColor-Font;

/* *** FONTS *** */

@CmFont-Base-LineHeight: 20px;
@CmFont-Base-Size: 14px;
@CmFont-Base-Family: 'Open Sans', sans-serif;;
@CmFont-Base-BoldWeight: 600;
