[submodule "libs/common"]
	path = libs/common
	url = https://github.com/SerDIDG/MagpieUI.git
[submodule "libs/application"]
	path = libs/application
	url = https://github.com/SerDIDG/QuickSilk-Application.git
