[submodule "libs/common"]
	path = libs/common
	url = https://github.com/SerDIDG/FioraUI.git
[submodule "libs/application"]
	path = libs/application
	url = https://github.com/SerDIDG/QuicksilkCMSv3Application.git
