// /* ************ MODULES: TEMPLATES: MENU DEFAULT ************ */

// /* ******* VARIABLES ******* /

@ID: preview;

// /* *** PRIMARY ITEM *** */

@Primary-Item-Indent: 0;
@Primary-Item-Padding: 0;

@Primary-Default-BackgroundColor: transparent;
@Primary-Default-BackgroundImage: none;
@Primary-Default-BackgroundRepeat: no-repeat;           // no-repeat | repeat | repeat-x | repeat-y
@Primary-Default-BackgroundPosition: top left;
@Primary-Default-BackgroundScaling: auto;               // auto | contain | cover | 100% 100%
@Primary-Default-BackgroundAttachment: scroll;          // scroll | fixed
@Primary-Default-BorderSize: 0;
@Primary-Default-BorderStyle: solid;                    // solid | dotted | dashed | double | groove | ridge | inset | outset
@Primary-Default-BorderColor: transparent;
@Primary-Default-BorderRadius: 0;
@Primary-Default-FontLineHeight: inherit;
@Primary-Default-FontWeight: 400;                       // 100 | 300 | 400 | 600 | 700 | 800
@Primary-Default-FontStyle: normal;                     // normal | italic
@Primary-Default-FontDecoration: none;                  // none | underline
@Primary-Default-FontFamily: inherit;
@Primary-Default-FontSize: inherit;
@Primary-Default-FontColor: inherit;

@Primary-Hover-BackgroundColor: transparent;
@Primary-Hover-BackgroundImage: none;
@Primary-Hover-BackgroundRepeat: no-repeat;             // no-repeat | repeat | repeat-x | repeat-y
@Primary-Hover-BackgroundPosition: top left;
@Primary-Hover-BackgroundScaling: auto;                 // auto | contain | cover | 100% 100%
@Primary-Hover-BackgroundAttachment: scroll;            // scroll | fixed
@Primary-Hover-BorderSize: 0;
@Primary-Hover-BorderStyle: solid;
@Primary-Hover-BorderColor: transparent;
@Primary-Hover-BorderRadius: 0;
@Primary-Hover-FontLineHeight: inherit;
@Primary-Hover-FontWeight: 400;                         // 100 | 300 | 400 | 600 | 700 | 800
@Primary-Hover-FontStyle: normal;                       // normal | italic
@Primary-Hover-FontDecoration: none;                    // none | underline
@Primary-Hover-FontFamily: inherit;
@Primary-Hover-FontSize: inherit;
@Primary-Hover-FontColor: inherit;

@Primary-Active-BackgroundColor: transparent;
@Primary-Active-BackgroundImage: none;
@Primary-Active-BackgroundRepeat: no-repeat;            // no-repeat | repeat | repeat-x | repeat-y
@Primary-Active-BackgroundPosition: top left;
@Primary-Active-BackgroundScaling: auto;                // auto | contain | cover | 100% 100%
@Primary-Active-BackgroundAttachment: scroll;           // scroll | fixed
@Primary-Active-BorderSize: 0;
@Primary-Active-BorderStyle: solid;
@Primary-Active-BorderColor: transparent;
@Primary-Active-BorderRadius: 0;
@Primary-Active-FontLineHeight: inherit;
@Primary-Active-FontWeight: 400;                        // 100 | 300 | 400 | 600 | 700 | 800
@Primary-Active-FontStyle: normal;                      // normal | italic
@Primary-Active-FontDecoration: none;                   // none | underline
@Primary-Active-FontFamily: inherit;
@Primary-Active-FontSize: inherit;
@Primary-Active-FontColor: inherit;

// /* *** PRIMARY CONTAINER *** */

@Primary-Container-Padding: 0px;
@Primary-Container-Padding-Top: 0px;
@Primary-Container-Padding-Right: 0px;
@Primary-Container-Padding-Bottom: 0px;
@Primary-Container-Padding-Left: 0px;
@Primary-Container-BackgroundColor: transparent;
@Primary-Container-BackgroundImage: none;
@Primary-Container-BackgroundRepeat: no-repeat;         // no-repeat | repeat | repeat-x | repeat-y
@Primary-Container-BackgroundPosition: top left;
@Primary-Container-BackgroundScaling: auto;             // auto | contain | cover | 100% 100%
@Primary-Container-BackgroundAttachment: scroll;        // scroll | fixed
@Primary-Container-BorderSize: 0px;
@Primary-Container-BorderSize-Top: 0px;
@Primary-Container-BorderSize-Right: 0px;
@Primary-Container-BorderSize-Bottom: 0px;
@Primary-Container-BorderSize-Left: 0px;
@Primary-Container-BorderStyle: solid;
@Primary-Container-BorderColor: transparent;
@Primary-Container-BorderRadius: 0;

// /* *** SECONDARY ITEM *** */

@Secondary-Item-Indent: 0;
@Secondary-Item-Padding: 0;

@Secondary-Default-BackgroundColor: transparent;
@Secondary-Default-BackgroundImage: none;
@Secondary-Default-BackgroundRepeat: no-repeat;           // no-repeat | repeat | repeat-x | repeat-y
@Secondary-Default-BackgroundPosition: top left;
@Secondary-Default-BackgroundScaling: auto;               // auto | contain | cover | 100% 100%
@Secondary-Default-BackgroundAttachment: scroll;          // scroll | fixed
@Secondary-Default-BorderSize: 0;
@Secondary-Default-BorderStyle: solid;
@Secondary-Default-BorderColor: transparent;
@Secondary-Default-BorderRadius: 0;
@Secondary-Default-FontLineHeight: inherit;
@Secondary-Default-FontWeight: 400;                       // 100 | 300 | 400 | 600 | 700 | 800
@Secondary-Default-FontStyle: normal;                     // normal | italic
@Secondary-Default-FontDecoration: none;                  // none | underline
@Secondary-Default-FontFamily: inherit;
@Secondary-Default-FontSize: inherit;
@Secondary-Default-FontColor: inherit;

@Secondary-Hover-BackgroundColor: transparent;
@Secondary-Hover-BackgroundImage: none;
@Secondary-Hover-BackgroundRepeat: no-repeat;            // no-repeat | repeat | repeat-x | repeat-y
@Secondary-Hover-BackgroundPosition: top left;
@Secondary-Hover-BackgroundScaling: auto;                // auto | contain | cover | 100% 100%
@Secondary-Hover-BackgroundAttachment: scroll;           // scroll | fixed
@Secondary-Hover-BorderSize: 0;
@Secondary-Hover-BorderStyle: solid;
@Secondary-Hover-BorderColor: transparent;
@Secondary-Hover-BorderRadius: 0;
@Secondary-Hover-FontLineHeight: inherit;
@Secondary-Hover-FontWeight: 400;                        // 100 | 300 | 400 | 600 | 700 | 800
@Secondary-Hover-FontStyle: normal;                      // normal | italic
@Secondary-Hover-FontDecoration: none;                   // none | underline
@Secondary-Hover-FontFamily: inherit;
@Secondary-Hover-FontSize: inherit;
@Secondary-Hover-FontColor: inherit;

@Secondary-Active-BackgroundColor: transparent;
@Secondary-Active-BackgroundImage: none;
@Secondary-Active-BackgroundRepeat: no-repeat;           // no-repeat | repeat | repeat-x | repeat-y
@Secondary-Active-BackgroundPosition: top left;
@Secondary-Active-BackgroundScaling: auto;               // auto | contain | cover | 100% 100%
@Secondary-Active-BackgroundAttachment: scroll;          // scroll | fixed
@Secondary-Active-BorderSize: 0;
@Secondary-Active-BorderStyle: solid;
@Secondary-Active-BorderColor: transparent;
@Secondary-Active-BorderRadius: 0;
@Secondary-Active-FontLineHeight: inherit;
@Secondary-Active-FontWeight: 400;                       // 100 | 300 | 400 | 600 | 700 | 800
@Secondary-Active-FontStyle: normal;                     // normal | italic
@Secondary-Active-FontDecoration: none;                  // none | underline
@Secondary-Active-FontFamily: inherit;
@Secondary-Active-FontSize: inherit;
@Secondary-Active-FontColor: inherit;

// /* *** SECONDARY CONTAINER *** */

@Secondary-Container-Padding: 0px;
@Secondary-Container-Padding-Top: 0px;
@Secondary-Container-Padding-Right: 0px;
@Secondary-Container-Padding-Bottom: 0px;
@Secondary-Container-Padding-Left: 0px;
@Secondary-Container-BackgroundColor: transparent;
@Secondary-Container-BackgroundImage: none;
@Secondary-Container-BackgroundRepeat: no-repeat;         // no-repeat | repeat | repeat-x | repeat-y
@Secondary-Container-BackgroundPosition: top left;
@Secondary-Container-BackgroundScaling: auto;             // auto | contain | cover | 100% 100%
@Secondary-Container-BackgroundAttachment: scroll;        // scroll | fixed
@Secondary-Container-BorderSize: 0px;
@Secondary-Container-BorderSize-Top: 0px;
@Secondary-Container-BorderSize-Right: 0px;
@Secondary-Container-BorderSize-Bottom: 0px;
@Secondary-Container-BorderSize-Left: 0px;
@Secondary-Container-BorderStyle: solid;
@Secondary-Container-BorderColor: transparent;
@Secondary-Container-BorderRadius: 0;

// /* *** MOBILE *** */

@Mobile-Padding: 0;
@Mobile-BackgroundColor: transparent;
@Mobile-BackgroundImage: none;
@Mobile-BorderSize: 0;
@Mobile-BorderStyle: solid;
@Mobile-BorderColor: transparent;
@Mobile-BorderRadius: 0;
@Mobile-FontLineHeight: inherit;
@Mobile-FontWeight: 400;                                    // 100 | 300 | 400 | 600 | 700 | 800
@Mobile-FontStyle: normal;                                  // normal | italic
@Mobile-FontDecoration: none;                               // none | underline
@Mobile-FontFamily: inherit;
@Mobile-FontSize: inherit;
@Mobile-FontColor: inherit;

// /* ******* STRUCTURE ******* /

.mod__menu.mod__menu--@{ID} {
    .menu__menu {
        > ul {
            padding: @Primary-Container-Padding;
            background: @Primary-Container-BackgroundColor @Primary-Container-BackgroundImage @Primary-Container-BackgroundPosition @Primary-Container-BackgroundRepeat @Primary-Container-BackgroundAttachment;
            background-size: @Primary-Container-BackgroundScaling;
            border: @Primary-Container-BorderStyle @Primary-Container-BorderColor;
            border-width: @Primary-Container-BorderSize;
            border-radius: @Primary-Container-BorderRadius;

            > li {
                > a {
                    padding: @Primary-Item-Padding;
                    background: @Primary-Default-BackgroundColor @Primary-Default-BackgroundImage @Primary-Default-BackgroundPosition @Primary-Default-BackgroundRepeat @Primary-Default-BackgroundAttachment;
                    background-size: @Primary-Default-BackgroundScaling;
                    border: @Primary-Default-BorderStyle @Primary-Default-BorderColor;
                    border-width: @Primary-Default-BorderSize;
                    border-radius: @Primary-Default-BorderRadius;
                    font: @Primary-Default-FontWeight ~'@{Primary-Default-FontSize}/@{Primary-Default-FontLineHeight}' @Primary-Default-FontFamily;
                    font-style: @Primary-Default-FontStyle;
                    text-decoration: @Primary-Default-FontDecoration;
                    color: @Primary-Default-FontColor;

                    &:hover,
                    &.hover {
                        background: @Primary-Hover-BackgroundColor @Primary-Hover-BackgroundImage @Primary-Hover-BackgroundPosition @Primary-Hover-BackgroundRepeat @Primary-Hover-BackgroundAttachment;
                        background-size: @Primary-Hover-BackgroundScaling;
                        border: @Primary-Hover-BorderStyle @Primary-Hover-BorderColor;
                        border-width: @Primary-Hover-BorderSize;
                        border-radius: @Primary-Hover-BorderRadius;
                        font: @Primary-Hover-FontWeight ~'@{Primary-Hover-FontSize}/@{Primary-Hover-FontLineHeight}' @Primary-Hover-FontFamily;
                        font-style: @Primary-Hover-FontStyle;
                        text-decoration: @Primary-Hover-FontDecoration;
                        color: @Primary-Hover-FontColor;
                    }

                    &:active,
                    &.active {
                        background: @Primary-Active-BackgroundColor @Primary-Active-BackgroundImage @Primary-Active-BackgroundPosition @Primary-Active-BackgroundRepeat @Primary-Active-BackgroundAttachment;
                        background-size: @Primary-Active-BackgroundScaling;
                        border: @Primary-Active-BorderStyle @Primary-Active-BorderColor;
                        border-width: @Primary-Active-BorderSize;
                        border-radius: @Primary-Active-BorderRadius;
                        font: @Primary-Active-FontWeight ~'@{Primary-Active-FontSize}/@{Primary-Active-FontLineHeight}' @Primary-Active-FontFamily;
                        font-style: @Primary-Active-FontStyle;
                        text-decoration: @Primary-Active-FontDecoration;
                        color: @Primary-Active-FontColor;
                    }
                }
            }
        }
    }

    .menu__sub {
        > ul {
            padding: @Secondary-Container-Padding;
            background: @Secondary-Container-BackgroundColor @Secondary-Container-BackgroundImage @Secondary-Container-BackgroundPosition @Secondary-Container-BackgroundRepeat @Secondary-Container-BackgroundAttachment;
            background-size: @Secondary-Container-BackgroundScaling;
            border: @Secondary-Container-BorderStyle @Secondary-Container-BorderColor;
            border-width: @Secondary-Container-BorderSize;
            border-radius: @Secondary-Container-BorderRadius;

            > li {
                margin-top: @Secondary-Item-Indent;

                &:first-child {
                    margin-top: 0;
                }

                > a {
                    padding: @Secondary-Item-Padding;
                    background: @Secondary-Default-BackgroundColor @Secondary-Default-BackgroundImage @Secondary-Default-BackgroundPosition @Secondary-Default-BackgroundRepeat @Secondary-Default-BackgroundAttachment;
                    background-size: @Secondary-Default-BackgroundScaling;
                    border: @Secondary-Default-BorderStyle @Secondary-Default-BorderColor;
                    border-width: @Secondary-Default-BorderSize;
                    border-radius: @Secondary-Default-BorderRadius;
                    font: @Secondary-Default-FontWeight ~'@{Secondary-Default-FontSize}/@{Secondary-Default-FontLineHeight}' @Secondary-Default-FontFamily;
                    font-style: @Secondary-Default-FontStyle;
                    text-decoration: @Secondary-Default-FontDecoration;
                    color: @Secondary-Default-FontColor;

                    &:hover,
                    &.hover {
                        background: @Secondary-Hover-BackgroundColor @Secondary-Hover-BackgroundImage @Secondary-Hover-BackgroundPosition @Secondary-Hover-BackgroundRepeat @Secondary-Hover-BackgroundAttachment;
                        background-size: @Secondary-Hover-BackgroundScaling;
                        border: @Secondary-Hover-BorderStyle @Secondary-Hover-BorderColor;
                        border-width: @Secondary-Hover-BorderSize;
                        border-radius: @Secondary-Hover-BorderRadius;
                        font: @Secondary-Hover-FontWeight ~'@{Secondary-Hover-FontSize}/@{Secondary-Hover-FontLineHeight}' @Secondary-Hover-FontFamily;
                        font-style: @Secondary-Hover-FontStyle;
                        text-decoration: @Secondary-Hover-FontDecoration;
                        color: @Secondary-Hover-FontColor;
                    }

                    &:active,
                    &.active {
                        background: @Secondary-Active-BackgroundColor @Secondary-Active-BackgroundImage @Secondary-Active-BackgroundPosition @Secondary-Active-BackgroundRepeat @Secondary-Active-BackgroundAttachment;
                        background-size: @Secondary-Active-BackgroundScaling;
                        border: @Secondary-Active-BorderStyle @Secondary-Active-BorderColor;
                        border-width: @Secondary-Active-BorderSize;
                        border-radius: @Secondary-Active-BorderRadius;
                        font: @Secondary-Active-FontWeight ~'@{Secondary-Active-FontSize}/@{Secondary-Active-FontLineHeight}' @Secondary-Active-FontFamily;
                        font-style: @Secondary-Active-FontStyle;
                        text-decoration: @Secondary-Active-FontDecoration;
                        color: @Secondary-Active-FontColor;
                    }
                }
            }
        }
    }

    .menu__select {
        background: @Mobile-BackgroundColor;
        border: @Mobile-BorderStyle @Mobile-BorderColor;
        border-width: @Mobile-BorderSize;
        border-radius: @Mobile-BorderRadius;

        .select__button {
            background-image: @Mobile-BackgroundImage;
        }

        .select__select {
            padding: @Mobile-Padding;
            font: @Mobile-FontWeight ~'@{Mobile-FontSize}/@{Mobile-FontLineHeight}' @Mobile-FontFamily;
            font-style: @Mobile-FontStyle;
            text-decoration: @Mobile-FontDecoration;
            color: @Mobile-FontColor;
        }
    }

    &.is-horizontal {
        &.pull-left,
        &.pull-center,
        &.pull-justify {
            .menu__menu {
                > ul {
                    > li {
                        margin-right: @Primary-Item-Indent;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        &.pull-right {
            .menu__menu {
                > ul {
                    > li {
                        margin-left: @Primary-Item-Indent;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        &.is-dropdown {
            .menu__sub {
                .mod__menu__sub-dropdown--parent-vertical;

                .menu__sub {
                    .mod__menu__sub-dropdown--horizontal;
                }
            }
        }
    }

    &.is-vertical {
        .menu__menu {
            > ul {
                > li {
                    margin-top: @Primary-Item-Indent;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        &.is-dropdown {
            .menu__sub {
                .mod__menu__sub-dropdown--parent-horizontal;

                .menu__sub {
                    .mod__menu__sub-dropdown--horizontal;
                }
            }
        }

        &:not(.is-dropdown){
            .menu__sub {
                > ul {
                    margin-top: @Primary-Item-Indent;
                }
            }
        }
    }
}

// /* ******* MIXINS ******* /

.mx__position (@top: auto, @right: auto, @bottom: auto, @left: auto) {
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

.mod__menu__sub-dropdown--parent-vertical () {
    .mx__position(100%, auto, auto, 0);

    &.pull-left {
        .mx__position(100%, auto, auto, 0);
    }

    &.pull-right {
        .mx__position(100%, 0, auto, auto);
    }
}

.mod__menu__sub-dropdown--parent-horizontal () {
    @indent_top: -(@Secondary-Container-Padding-Top + @Secondary-Container-BorderSize-Top);

    .mx__position(@indent_top, auto, auto, ~"calc(100% + @{Primary-Container-Padding-Right} + @{Primary-Container-BorderSize-Right})");

    &.pull-left {
        .mx__position(@indent_top, auto, auto, ~"calc(100% + @{Primary-Container-Padding-Right} + @{Primary-Container-BorderSize-Right})");
    }

    &.pull-right {
        .mx__position(@indent_top, ~"calc(100% + @{Primary-Container-Padding-Left} + @{Primary-Container-BorderSize-Left})", auto, auto);
    }
}

.mod__menu__sub-dropdown--horizontal () {
    @indent_top: -(@Secondary-Container-Padding-Top + @Secondary-Container-BorderSize-Top);

    .mx__position(@indent_top, auto, auto, ~"calc(100% + @{Secondary-Container-Padding-Right} + @{Secondary-Container-BorderSize-Right})");

    &.pull-left {
        .mx__position(@indent_top, auto, auto, ~"calc(100% + @{Secondary-Container-Padding-Right} + @{Secondary-Container-BorderSize-Right})");
    }

    &.pull-right {
        .mx__position(@indent_top, ~"calc(100% + @{Secondary-Container-Padding-Left} + @{Secondary-Container-BorderSize-Left})", auto, auto);
    }
}